<div class="changePost">
    <div class="page-header">
        <h3>Change Post</h3>
    </div>
    <div>
        <a class="btn btn-success btnChangePost" href="#">Change Post</a>
        <!--<a href="#" class="btn btn-danger btnDelete">Delete</a>-->
        <a class="btn btnCancel" href="#">Cancel</a>
    </div>

    <div class="row">
        <div class="span9">
            <form class="form-horizontal standart changePostForm">

                

                <legend>Main</legend>

                <div class="control-group">
                    <label class="control-label" for="title">Is public</label>
                    <div class="controls">
                        <div class="span1">
                            <label>Private
                                <input type="radio" name="privateType" value="private" <%= privateType == 'private' ? 'checked': ''%> >
                            </label>
                        </div>
                        <div class="span1">
                            <label>Public
                                <input type="radio" name="privateType" value="public" <%= privateType == 'public' ? 'checked': ''%>>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <textarea name="title" id="title"> <%= title%> </textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="date">Date post or event</label>
                    <div class="controls">
                        <input value="<%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %>" data-date-format="dd/mm/yyyy" class=""  id="date" type="text" name="date" placeholder="Date post or event" >
                    </div>
                </div>

                <div class="control-group tags-container">
                    <label class="control-label">Tags</label>
                    <div class="controls">
                        <% for( var i = 0; i < tags.length; i++ ) {%>
                        <input class="tags" type="text" name="tags[]" value="<%= tags[i]%>" placeholder="tag" />
                        <% }%>
                        <input class="tags" type="text" name="tags[]" placeholder="tag" />
                    </div>
                </div>

                <legend>Body</legend>

                <textarea name="body" id="body"> <%= body%> </textarea>

                <legend>Preview</legend>

                <div class="control-group">
                    <label class="control-label" for="previewImg">Preview Image</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" name="previewImg" class="span2" id="previewImg" placeholder="Preview Img url"  value="<%= previewImg%>"/>
                            <button class="btn chooseFile" type="button">Choose image</button>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="previewTitle">Preview Title</label>
                    <div class="controls">
                        <textarea class="" name="previewTitle" id="previewTitle" cols="30" rows="10"><%= previewTitle%></textarea>
                    </div>
                </div>

                <div class="control-group preset-container">
                    <label class="control-label" >Presets for timetable preview</label>
                    <div class="controls">
                        <select name="preset" id="preset">

                            <% for( var i = 0; i < presets.length; i++ ) {%>
                            <% if(preset._id == presets[i]['_id']) { %>
                            <option selected="selected" value="<%= presets[i]['_id'] %>"><%= presets[i]['name'] %></option>
                            <% }else{ %>
                            <option value="<%= presets[i]['_id'] %>"><%= presets[i]['name'] %></option>
                            <% }%>
                            <% }%>
                            
                        </select>
                    </div>
                </div>

                <div class="submit">
                        <a class="btn btn-success btnChangePost" href="#">Change Post</a>
                        <!--<a href="#" class="btn btn-danger btnDelete">Delete</a>-->
                        <a class="btn btnCancel" href="#">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>