<div class="agenda">

    <ul class="unstyled events">
        <% _.each(dataTorender, function(dateObj){ %>
        <li class="wrapper  <% if(dateObj.date.getMonth() == new Date().getMonth() && dateObj.date.getDate() == new Date().getDate() && dateObj.date.getFullYear() == new Date().getFullYear() ){%> now <%} %>" >

            <div class="date"><%= dateObj.date.getDate() %>-<%= dateObj.date.getMonth()+1 %>-<%= dateObj.date.getFullYear() %></div>
            <div class="eventsList">
                <ul class="unstyled ">
                    <% _.each(dateObj.events, function(event){ %>
                    <% if(event.type == "user") {%>
                    <li data-rowid="<%= event._idRaw %>" class="user">
                        <span>Birthday: </span>
                        <span class="title"> <%= event.name %> <%= event.surName %> <%= event.middleName %></span>
                    </li>
                    <%}%>
                    <% }) %>

                    <% _.each(dateObj.events, function(event){ %>
                    <% if(event.type == "task") {%>
                    <li data-rowid="<%= event._idRaw %>" class="task">
                        <span class="">task: </span>
                        <span class="title"> <%= event.title %></span>
                    </li>
                    <%}%>
                    <% }) %>

                    <% _.each(dateObj.events, function(event){ %>
                    <% if(event.type == "event") {%>
                    <li data-rowid="<%= event._idRaw %>" class="event">
                        <div class="item change"><a href="#"><i class="icon-edit"></i></a></div>
                        <div class="title item"><%= event.title %></div>
                        <div class="clear"></div>
                    </li>
                    <%}%>
                    <% }) %>
                </ul>
            </div>
            <div class="clear"></div>
        </li>
        <% }) %>
    </ul>
</div>

