<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h2>Traffic manager</h2>
            </div>
            <div class="tabCont">this is tabCont</div>
            <!-- <div class="btn-group">
                <button data-type="content" class="btn content active">Traffic Inspector</button>
                <button data-type="add" class="btn add">Radar</button>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="menu_traffic menu span3">
            This is menu_traffic
        </div>
        <div class="menu_radar menu span3">
            This is menu_radar
        </div>

        <div class="span9 main_traffic">
            This is main traffic
        </div>
    </div>
</div>