<div class="addEvent">
    <div class="container">
        <div class="page-header">
            <h3>Change Event</h3>
        </div>

        <div class="row">
            <div class="span12">
                <a href="#" class="btn btn-danger btnDelete">Delete</a>
                <a class="btn btnCancel" href="#">Cancel</a>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <form class="form-horizontal standart changeEventForm">

                    <legend>Title</legend>

                    <div class="control-group">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input  id="title" type="text" name="title" placeholder="Title" value="<%=title%>" required>
                        </div>
                    </div>

                    <legend>Date</legend>

                    <div class="control-group">
                        <label class="control-label" for="date">Date</label>
                        <div class="controls">
                            <input value="<%= dateStart.day %>-<%= dateStart.month + 1 %>-<%= dateStart.year %>" class="datepicker" name="date" type="text" id="date" placeholder="Date" data-date-format="dd-mm-yyyy" required >
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="date">Start</label>
                        <div class="controls bootstrap-timepicker">
                            <input value="<%=dateStart.start.hour%>:<%=dateStart.start.minute%>"  name="hourStart" type="text" id="hourStart" placeholder="Date" >
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="date">End</label>
                        <div class="controls bootstrap-timepicker">
                            <input value="<%=dateStart.end.hour%>:<%=dateStart.end.minute%>" name="hourEnd" type="text" id="hourEnd" placeholder="Date" required >
                        </div>
                    </div>

                    <legend>Main Info</legend>

                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea value="<%=description%>" name="description" id="description" cols="30" rows="10"></textarea>
                        </div>
                    </div>


                    <legend>Repeat</legend>

                    <div class="control-group">
                        <label class="control-label" for="repeatType">Type</label>
                        <div class="controls">
                            <select name="repeatType" id="repeatType" class="selectpicker">
                                <option <% if(repeat.repeatType == 'no'){%>selected<%}%>  value="no">No Repeat</option>
                                <option <% if(repeat.repeatType == 1){%>selected<%}%> value="1">Every day</option>
                                <option <% if(repeat.repeatType == 2){%>selected<%}%> value="2">Every week</option>
                                <option <% if(repeat.repeatType == 3){%>selected<%}%> value="3">Every weekday (Monday to Friday)</option>
                                <option <% if(repeat.repeatType == 4){%>selected<%}%> value="4">Every Monday, Wednesday, Friday</option>
                                <option <% if(repeat.repeatType == 5){%>selected<%}%> value="5">Every Tuesday, Thursday</option>
                                <option <% if(repeat.repeatType == 6){%>selected<%}%> value="6">Every month</option>
                                <option <% if(repeat.repeatType == 7){%>selected<%}%> value="7">Every year</option>
                            </select>
                        </div>
                    </div>



                    <!--<% if(repeat.repeatType == 2){%> display: block <%}%>-->
                    <div style="<% if(repeat.repeatType == 2){%> display: block <%}%> <%=repeat.type%>" class="control-group days">
                        <label class="control-label" >Repeat on:</label>
                        <div class="controls">

                            <label class="checkbox">
                                <input  class="weekDays" type="checkbox" name="weekDays[]" value="0">
                                Sunday
                            </label>
                            <label class="checkbox">
                                <input class="weekDays" type="checkbox" name="weekDays[]" value="1">
                                Monday
                            </label>
                            <label class="checkbox">
                                <input class="weekDays" type="checkbox" name="weekDays[]" value="2">
                                Tuesday
                            </label>
                            <label class="checkbox">
                                <input class="weekDays" type="checkbox" name="weekDays[]" value="3">
                                Wednesday
                            </label>
                            <label class="checkbox">
                                <input class="weekDays" type="checkbox" name="weekDays[]" value="4">
                                Thursday
                            </label>
                            <label class="checkbox">
                                <input class="weekDays" type="checkbox" name="weekDays[]" value="5">
                                Friday
                            </label>
                            <label class="checkbox">
                                <input class="weekDays" type="checkbox" name="weekDays[]" value="6">
                                Saturday
                            </label>

                        </div>
                    </div>


                    <!--<%if( repeat.repeatEnds == 2 ){%> style="disaplay:block" <%}%>-->
                    <div <%if( repeat.repeatType != 'no' ){%> style="display:block" <%}%> class="control-group ends">
                        <label class="control-label">Ends</label>
                        <div class="controls">
                            <label class="radio">
                                <input  type="radio" class="repeatEnds never" name="repeatEnds" value="1" checked>
                                Never
                            </label>
                            <label class="radio">
                                <input <%if( repeat.repeatEnds == 2 ){%> checked <%}%> type="radio" class="repeatEnds on"  name="repeatEnds" value="2">
                                On
                            </label>

                            <input  <%if( repeat.repeatEnds == 2 ){%> value="<%=repeat.dateRepeatEnd.day%>-<%=repeat.dateRepeatEnd.month+1%>-<%=repeat.dateRepeatEnd.year%>" style="display:block" <%}%> class="datepicker" data-date-format="dd-mm-yyyy" name="dateRepeatEnd" type="text" id="dateRepeatEnd" placeholder="Date Repeat End" >
                        </div>
                    </div>

                    <div class="submit">
                        <a class="btn btn-success btnChangeEvent" href="#">Change Event</a>
                        <a class="btn btnCancel" href="#">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>