<li>
    <h4 class="fio">
        <span class="surName"><%= surName%></span>
        <span class="name"><%= name%></span>
        <span class="middleName"><%= middleName%></span>
    </h4>
    <div class="birthday">
        <span class="day"><%= dateBirthday.day%></span>
        <span class="month"><%= dateBirthday.month%></span>
        <span class="year"><%= dateBirthday.year%></span>
    </div>
    <div class="buttons">
        <a class="btn btn-small" href="#">edit</a>
        <a class="btn btn-small btn-danger" href="#">delete</a>
    </div>
</li>