<h4 class="fio">
    <a href="/#user/<%=_id%>">
        <span class="surName"><%= surName%></span>
        <span class="name"><%= name%></span>
        <span class="middleName"><%= middleName%></span>
    </a>
</h4>
<div class="birthday">
    <span class="day"><%= dateBirthday.day%></span>
    <span class="month"><%= dateBirthday.month%></span>
    <span class="year"><%= dateBirthday.year%></span>
</div>
<div class="buttons">
    <a class="btn btn-small" href="/#user/change/<%=_id%>">edit</a>
    <a class="btn btn-small btn-danger delete" href="#">delete</a>
</div>
