<div class="blogAdminPanel">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h2>Blog Admin Panel</h2>
                </div>
            </div>
            <div class="span3 menu-container"></div>
            <div class="main-container span9">
                <div class="extend-container"></div>
                <div class="content-container"></div>
            </div>
        </div>
    </div>
</div>