<li class="item-task">
    <input type="checkbox"  <%= isDone ? 'checked' : '' %> class="isDone"  name="isDone"  />
    <div class="data">
        <input type="text" class="title" value="<%=title%>" placeholder="new task"/>
        <a href="#" class="showMore"><i class="icon-pencil"></i></a>
        <div class="more off">
            <input value="<%= date.getMonth() + 1 %>/<%= date.getDate() %>/<%= date.getFullYear() %>" type="text" class="date" placeholder="date"/>
            <textarea class="description" name="description" cols="30" rows="10" placeholder="description"><%=description%></textarea>
        </div>
    </div>
</li>