<h3>Add new feed</h3>

<form action="#">
    <label for="feed_name">Feed name</label>
    <input id="feed_name" type="text" name="feed_name" value="<%= feed.name%>">
</form>

<div class="category">
    <h4>Categories:</h4>
    <ul>
        <% for( var i = 0; i < categories.length; i++ ) {%>
        <li>
            <label >
            <input type="checkbox" value="<%= categories[i]._id %>">
                <%= categories[i].name %>
            </label>
        </li>
        <% }%>
        <li>
            <input id="new_category" type="text" placeholder="new category">
        </li>
    </ul>
</div>


<div class="buttons">
    <a href="#" class="cancel" >Cancel</a>
    <a href="#" class="btn success create" >Create New feed</a>
</div>
