<div class="events">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Events List</h1>
                </div>
                <div class="row">
                    <div class="span12 header">header</div>
                </div>
                <div class="row">
                    <div class="span3 sidebarLeft">sidebarLeft</div>
                    <div class="span6 content">content</div>
                    <div class="span3 sidebarRight">sidebarRight</div>
                </div>
            </div>
        </div>
    </div>
</div>