.row {
  margin-bottom: 15px;
}
.field {
  margin-bottom: 15px;
}
[class^="title-"] {
  margin-bottom: 10px;
}
.title-h1 {
  font-size: 32px;
  line-height: 34px;
}
.title-h2 {
  font-size: 28px;
  line-height: 30px;
}
.title-h3 {
  font-size: 24px;
  line-height: 26px;
}
.clear {
  clear: both;
}
.agenda .events .wrapper {
  padding: 10px;
}
.agenda .events .wrapper:nth-of-type(2n) {
  background: #e7e7e7;
}
.agenda .events .wrapper.now {
  background: #daffd8;
}
.agenda .events .date {
  float: left;
  min-width: 130px;
  color: #15c;
}
.agenda .events .eventsList {
  overflow: hidden;
}
.agenda .events .eventsList .time {
  min-width: 85px;
  font-size: 12px;
}
.agenda .events .eventsList .title {
  color: #4db810;
}
.agenda .events .eventsList .item {
  float: left;
}
.agenda .events .eventsList .change a {
  padding: 0 10px;
}
.agenda .date {
  max-width: 200px;
}
.agenda .title {
  min-width: 150px;
}
.agenda .description {
  min-width: 150px;
}
.messageBlock {
  padding: 10px;
  border: 1px solid #c0c0c0;
  background: #e7e7e7;
  border-radius: 3px;
  box-sizing: border-box;
}
.standart input {
  display: block;
}
.standart input.error {
  border-color: #e9322d;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
.standart .inputMargin input {
  margin-bottom: 10px;
}
.standart .error {
  color: #f00;
  margin: 10px 0 0 0;
}
.addEvent .days,
.addEvent .ends,
.addEvent #dateRepeatEnd {
  display: none;
}
.tasks .list-container .addNewTask {
  min-height: 150px;
}
.tasks .list-container .item-task {
  padding: 5px;
  background: #f0f0f0;
  margin: 0 0 5px;
}
.tasks .list-container .item-task .done {
  float: left;
  margin: 10px 10px 0 0;
}
.tasks .list-container .item-task .title {
  overflow: hidden;
  margin: 0;
}
.tasks .menu-container .listNames .list-wrapper .icon-check {
  display: none;
}
.tasks .menu-container .listNames .list-wrapper.active .icon-check {
  display: inline-block;
}
