.row {
  margin-bottom: 15px;
}
.field {
  margin-bottom: 15px;
}
[class^="title-"] {
  margin-bottom: 10px;
}
.title-h1 {
  font-size: 32px;
  line-height: 34px;
}
.title-h2 {
  font-size: 28px;
  line-height: 30px;
}
.title-h3 {
  font-size: 24px;
  line-height: 26px;
}
.agenda .date {
  max-width: 200px;
}
.agenda .title {
  min-width: 150px;
}
.agenda .description {
  min-width: 150px;
}
.messageBlock {
  padding: 10px;
  border: 1px solid #c0c0c0;
  background: #e7e7e7;
  border-radius: 3px;
  box-sizing: border-box;
}
.standart input {
  display: block;
}
.standart input.error {
  border-color: #e9322d;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
.standart .inputMargin input {
  margin-bottom: 10px;
}
.standart .error {
  color: #f00;
  margin: 10px 0 0 0;
}
.addEvent .days,
.addEvent .ends,
.addEvent #dateRepeatEnd {
  display: none;
}
