<ul class="nav nav-pills mainMenu">
    <li data-private="public"><a  href="#">Home</a></li>
    <li><a href="#users">Users</a></li>
    <li><a href="#user/add">Add user</a></li>
    <li><a href="#events">Event</a></li>
    <li><a href="#event/add">Add event</a></li>
    <li><a href="#blog">Blog: Admin Panel</a></li>
    <li><a href="#fileBrowser">File Browser</a></li>
    <li data-private="public"><a  href="#public/timeline">Timeline</a></li>
    <li><a  href="#twitter">Twitter</a></li>
    <li><a  href="#rss">Rss</a></li>
</ul>