<div class="menu">
    <div class="listManager">
        <a href="#" class="showListMenu">
            <i class="icon-cogwheels"></i>
        </a>
        <div class="listMenu">
            <ul>
                <li>
                    <a href="#" class="renameList">Rename list</a>
                </li>
                <li>
                    <a href="#" class="deleteList">
                        <i class="icon-delete-point"></i>
                        <span class="text">Delete list</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="newList">New list</a>
                </li>
            </ul>
        </div>
    </div>
</div>