<div class="menu">
    <div class="listManager">

        <div class="listMenu">
            <ul class="unstyled">
                <!--<li>
                    <a href="#" class="renameList">
                        <i class="icon-edit"></i>
                        <span class="text">Rename list</span>
                    </a>
                </li>-->
                <li>
                    <a href="#" class="deleteList">
                        <i class="icon-remove"></i>
                        <span class="text">Delete current list</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="newList">
                        <i class="icon-book"></i>
                        <span class="text">New list</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="listNames">
            <h4>Lists</h4>
            <ul class="unstyled">
            </ul>
        </div>

    </div>
</div>