<div class="span9">
    <h3>Filter</h3>
</div>
<div class="fio span3">
    <label for="titleFilter">Title</label>
    <input id="titleFilter" class="span3" name="titleFilter" type="text" placeholder="Title filter">
</div>
<div class="month span3">
    <label for="monthFilter">Month</label>
    <input class="span3" name="monthFilter" type="text" id="monthFilter" placeholder="Month Filter" data-date-format="mm">
</div>
<div class="span9">
    <a class="btn clearFiler" href="#">Clear filter</a>
</div>