<div class="header_rss">
    <h2 class="title"><%= name%></h2>
    <div class="actionBar">
        <ul class="viewMode">
            <li>
                <a href="#" data-type="list" class="active">
                    <i class="icon-th-list"></i>
                </a>
            </li>
            <li>
                <a href="#" data-type="preview" class="">
                    <i class="icon-th"></i>
                </a>
            </li>
        </ul>
        <ul class="settings">
            <li>
                <a data-type="markAsRead" class="" href="#">
                    <i class="icon-ok"></i>
                </a>
            </li>
            <li>
                <a data-type="updateFeed" class="" href="#">
                    <i class="icon-repeat"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <ul>

    </ul>
    <a href="#" class="btn getMore">more</a>
</div>