<h3>Add new Stream</h3>
<div class="buttons">
    <span class="btn cancel" >Cancel</span>
    <span class="btn btn-success btnAddStream" >Add Stream</span>
</div>
<form action="#">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input name="name" class="span5" type="text" id="name" placeholder="Name" required="">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="text">Text</label>
        <div class="controls">
            <input class="span5" name="text" type="text" id="text" placeholder="Text" required="">
        </div>
        <div class="info">
            <a href="https://dev.twitter.com/docs/streaming-apis/parameters#track">track example</a>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="people">Following this peoples</label>
        <div class="controls">
            <input class="span5" name="people" type="text" id="people" placeholder="Text" >
        </div>
        <div class="info">
            <a href="https://dev.twitter.com/docs/streaming-apis/parameters#follow">follow example</a>
        </div>
    </div>

    <div class="control-group days" >
        <label class="control-label">Language:</label>
        <div class="controls">
            <label class="checkbox">
                <input class="lang" type="checkbox" name="language[]" value="ru">
                Russian
            </label>
            <label class="checkbox">
                <input class="lang" type="checkbox" name="language[]" value="en">
                English
            </label>
        </div>
    </div>

</form>
<div class="buttons">
    <span class="btn cancel" >Cancel</span>
    <span class="btn btn-success btnAddStream" >Add Stream</span>
</div>