<div class="fileBser">
    <div class="container">
        <div class="">
            <div class="">
                <div class="page-header">
                    <h2>File Browser</h2>
                </div>
            </div>
            <div class="">
                <div class="menu "></div>
                <div class="content ">
                    <div class="">
                        <div class="panel ">
                            <div class="path"></div>
                        </div>
                        <div class="upload"></div>
                        <div class="manageBtn"></div>
                        <div class="explore "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>