<div>
    <div class="row">
        <div class="sectionBtn span3">
            <a class="upBtn btn" href="#">Up</a>
            <a class="newFolderBtn btn btn-success" href="#">New Folder</a>
            <a class="btn selectAllBtn" href="#">Select All</a>
            <a class="btn unSelectAllBtn off" href="#">UnSelect All</a>
        </div>
        <div class="sectionBtn span4">
            <a class="btn selectBtn off" href="#">Select</a>
            <a class="btn downloadBtn off" href="#">Download</a>
            <a class="deleteBtn btn btn-danger" href="#">Delete</a>
        </div>
    </div>
    <div class="row">
        <div class="sectionBtn span4">
            <div class="btn-group viewMode">
                <button data-type="list" class="btn list active">List</button>
                <button data-type="icon" class="btn icon">Icon</button>
            </div>
        </div>
    </div>
</div>