<div class="addPost">
    <div class="page-header">
        <h3>Add Post</h3>
    </div>
    <form class="form-horizontal standart addPostForm">

        <legend>Main</legend>

        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input class=""  id="title" type="text" name="title" placeholder="Title" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="date">Date post or event</label>
            <div class="controls">
                <input class=""  id="date" type="text" name="date" placeholder="Date post or event" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="body">Body</label>
            <div class="controls">
                <textarea class="" name="body" id="body" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div class="control-group tags-container">
            <label class="control-label" >Tags</label>
            <div class="controls">
                <input class="tags" type="text" name="tags[]" placeholder="tag" />
            </div>
        </div>


        <legend>Preview</legend>

        <div class="control-group">
            <label class="control-label" for="previewImg">Preview Image</label>
            <div class="controls">
                <input type="file" name="previewImg" id="previewImg"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="previewTitle">Preview Title</label>
            <div class="controls">
                <textarea class="" name="previewTitle" id="previewTitle" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" >Presets for timetable preview</label>
            <div class="controls">

                <select name="preset" id="preset">
                    <option value="1">Name preset</option>
                    <option value="2">Name preset 1</option>
                    <option value="3">Name preset 2</option>
                    <option value="4">Name preset 3</option>
                </select>

                <div class="presetInfo">
                    <div>
                        <div class="title">Name</div>
                        <input type="text" placeholder="Name preset"/>
                    </div>
                    <div>
                        <div class="title">Custom classes</div>
                        <input type="text" placeholder="Custom classes for preset"/>
                    </div>
                    <div>
                        <div class="title">Width Preview</div>
                        <input type="text" placeholder="Width preview" />
                    </div>
                </div>

            </div>
        </div>



        <div class="submit">
            <a class="btn btn-success btnAddPost" href="#">Add Post</a>
        </div>

    </form>
</div>