<div class="addPost">
    <div class="container">
        <div class="page-header">
            <h1>Add Post</h1>
        </div>
        <div class="row">
            <div class="span12">
                <form class="form-horizontal standart addEventForm">

                    <div class="control-group">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input class="span8"  id="title" type="text" name="title" placeholder="Title" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea class="span8" name="description" id="description" cols="30" rows="10"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="title">Tags</label>
                        <div class="controls">
                            <input class="span8" id="tags" type="text" name="title" placeholder="Tags" required>
                        </div>
                    </div>

                    <div class="submit">
                        <a class="btn btn-success btnAddEvent" href="#">Add Post</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>