<div id="<%=idTweet%>">
	<i><%= number %></i>
	<a href="#" class="photo">
		<img src="<%= photoUrl %>" alt="photo">
	</a>

	<div class="info">
		<a href="http://twitter.com/<%= screenName %>"><%= fullName %></a>
		<span class="feed">
			<a href="http://twitter.com/<%= screenName %>" target="_blank"><%= screenName %></a>	
		</span>
	</div>
	<div class="text">
		<%= text %>
	</div>
	<div class="meta">
		<div class="time">
			<%= time %>
		</div>
		<div class="button">
			<a href="#">to black list</a>
			<a href="#">to white list</a>
			<a href="#">retweet</a>
			<a href="#">reply</a>
			<a href="#">add to favorite</a>
			<a href="#">saveTweet</a>
		</div>
	</div>
</div>