.agenda

	.events

		.wrapper
			padding 10px

			&:nth-of-type(2n)
				background #E7E7E7
			&.now
				background #DAFFD8

		.date
			float left
			min-width 130px
			color #15c

		.eventsList
			overflow hidden

			.time
				min-width 85px
				font-size 12px
			.title
				color #4DB810

			.item
				float left

			.change
				a
					padding 0 10px


	.date
		max-width 200px
	.title
		min-width 150px
	.description
		min-width 150px