@import mixin

.header
    padding 90px 0 20px
    border-bottom 5px solid linkColor
    position relative
    overflow hidden

    .siteTitle
        float left
        color mainTitle

.header-bg
    background white
.mainMenu
    float: right

.mainMenu, .loginMenu
    padding 13px 0 0 0