box-shadow()
   -webkit-box-shadow arguments
   -moz-box-shadow arguments
   box-shadow arguments

transition()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    transition arguments