.rss
    padding 35px 0 0 0

    .tabCont
        margin 0 0 20px
    .addRss
        display none

    .availableSource
        padding 0
        margin 0

        li
            list-style none
            padding 5px
            border 1px solid white

            &:hover
                background mainColor
                border 1px solid #9e9e9e
                cursor pointer
        .addFeed
            margin 15px 0 0 0
    .header_rss
        overflow hidden
        .title
            float left
        .actionBar
            float right

            ul
                overflow: hidden
                float: left
            .viewMode
                a
                    opacity: 0.4
                    &.active
                        opacity 1
                    &:hover
                        opacity 1

            .settings
                a
                    opacity: 0.4
                    &:hover
                        opacity 1
            li
                float left
                list-style none
            a
                padding 10px
                text-align center
                display inline-block

                    &:hover
                        background #eeeeee
                        color linkHoverColor
    .content
        ul
            padding 0
            margin 0
        li
            list-style none
        .list
            border-bottom 1px solid mainColor
            padding 8px 0

            &:hover
                background mainColor
                cursor pointer
