@import mixin

.rss
    padding 35px 0 0 0

    .tabCont
        margin 0 0 20px
    .addRss
        display none

    .availableSource
        padding 0
        margin 0

        li
            list-style none
            padding 5px
            border 1px solid white

            &:hover
                background mainColor
                border 1px solid #9e9e9e
                cursor pointer
        .addFeed
            margin 15px 0 0 0
    .header_rss
        overflow hidden
        .title
            float left
        .actionBar
            float right

            ul
                overflow: hidden
                float: left
            .viewMode
                a
                    opacity: 0.4
                    &.active
                        opacity 1
                    &:hover
                        opacity 1

            .settings
                a
                    opacity: 0.4
                    &:hover
                        opacity 1
            li
                float left
                list-style none
            a
                padding 10px
                text-align center
                display inline-block

                    &:hover
                        background #eeeeee

                        color linkHoverColor

    .previewView
        .img
            float left
            width 200px
            height 105px
            background-position 50% 30%
            transition opacity 0.35s linear
            transition-delay 0.2s
            opacity 1
            background-size cover

        .content
            padding 0 0 0 220px

            .title
                font-weight bold
                font-size 16px
                margin 0 0 10px
            .summary
                font-size 12px


    .fullView
        padding: 10px
        border: 1px solid mainColor
        border-radius: 5px
        margin: 10px 0 0 0

        .closeView
            height 25px
            background linkColor
            cursor pointer
            margin 0 0 20px 

        .title
            font-size 24px
            line-height 28px
            font-weight 700
            color #404040

        .visitWebSite
            background mainColor
            padding 15px
            display block
            text-align center

    .panel
        a 
            display inline-block
            margin 0 1px
            padding 8px
            opacity 0.4

            &:hover
                opacity 1

    

    .additionalInfo
        font-size 12px
        margin 0 0 10px

    .content
        ul
            padding 0
            margin 0
        li
            list-style none
            position relative

            &:hover
                .panel
                    display block

        .list
            border-bottom 1px solid mainColor
            padding 8px

            .icon-bookmark
                opacity 0.4

            .item
                display inline-block
                vertical-align top

            .description
                text-overflow ellipsis
                white-space nowrap
                overflow hidden
                width 80%
                font-style italic

            .icon-bookmark
                margin 0 10px 0 0

            &:hover
                background mainColor
                cursor pointer
                
            .panel
                display none
                position absolute
                right 10px
                top 0
                background mainColor
                padding 8px 0

                a
                    padding 0 3px
    .feedContent
        .tab
            padding 5px 30px 5px 5px
            position relative
            cursor pointer

            &:hover
                background mainColor

            &.active
                background mainColor

        .feeds
            display none

        .categories
            .open
                .down
                    display inline-block
                .right
                    display none

                .feeds
                    display block

        .switcher
            span
                padding 3px
                margin 0 5px 0 0

            .down
                display none

        .unread
            position absolute
            top 2px
            right 2px
            font-size 12px
            padding 4px

            &:hover
                background #B6B6B6



.addNewFeed
    position fixed
    top 0
    left -345px
    width 260px
    transition left 0.5s
    background #efefef
    padding: 0 40px
    height 100%
    border-right: 1px solid silver

    &.show
        left 0

    .category
        input
            margin 0 10px 0 0

    .buttons
        border-top 1px solid silver
        padding 15px 0 0 0
        position absolute
        bottom 50px
        right 40px

        a
            margin 0 0 0 30px
    .create
        display none