.tasks
    .list-container
        .addNewTask
            min-height 150px;

        .item-task
            padding 5px
            background #F0F0F0
            margin 0 0 5px

            .done
                float: left
                margin 10px 10px 0 0

            .title
                overflow hidden
                margin 0

    .menu-container
        .listNames
            .list-wrapper

                .icon-check
                    display none

                &.active
                    .icon-check
                        display inline-block