.tasks
    .list-container
        .list
            padding 0 0 150px;

    .menu-container
        .listNames
            .list-wrapper

                .icon-check
                    display none

                &.active
                    .icon-check
                        display inline-block