<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>websocket</title>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
</head>
<body>

<script type="text/javascript" src="main.js"></script>

</body>
</html>