<div class="search">
    <div class="span12">
        <h2>Search</h2>
    </div>
    <div class="fio span4">
        <label for="fio">User's FIO</label>
        <input class="span4" name="fio" type="text" id="fio" placeholder="FIO" >
    </div>
    <div class="year span4">
        <label for="year">Birthday Year</label>
        <input name="year" type="text" id="year" placeholder="Year Birthday" data-date="1986"  >
    </div>
    <div class="month span4">
        <label for="month">Month Year</label>
        <input name="month" type="text" id="month" placeholder="Month Birthday" data-date-format="mm" >
    </div>
    <div class="span12">
        <a class="btn clearSearch" href="#">Clear search</a>
    </div>
</div>