<div class="addPresetArea inputMargin">
    <form class="form-horizontal standart addPresetForm">
        <legend>Add new preset</legend>

        <div class="addPreset-container inputMargin ">
            <div>
                <div class="title">Name</div>
                <input name="name" class="name" type="text" placeholder="Name preset" required/>
            </div>
            <div>
                <div class="title">Custom classes</div>
                <input name="classes" class="classes" type="text" placeholder="Custom classes for preset" required/>
            </div>
            <div>
                <div class="title">Width Preview</div>
                <input  name="width" class="width" type="text" placeholder="Width preview" required/>
            </div>
            <a href="#" class="btn btn-small btn-success addPreset">Add</a>
            <a href="#" class="btn btn-small clear">Clear</a>
        </div>
    </form>
</div>